@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #85919d;
    height: 100%;
    position: relative;
}

.help-block {
    font-family: "Lato", Arial, sans-serif;
    color: red;
}

body.d2s-overflow {
    overflow-x: auto;
}

a {
    color: #2772DB;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #2772DB;
    outline: none;
    text-decoration: none;
}

p, figure {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #484c50;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    margin: 15px 0 15px 0;
}

::-moz-selection {
    color: #818892;
    background: #f9f6f0;
}

::selection {
    color: #818892;
    background: #f9f6f0;
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Lato", Arial, sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn.btn-md {
    padding: 10px 20px !important;
}

.btn.btn-lg {
    padding: 18px 36px !important;
}

.btn:hover, .btn:active, .btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    background: #2772DB;
    color: #fff;
    border: 1px solid #2772DB;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #99cc53 !important;
    border-color: #99cc53 !important;
}

.btn-primary.btn-outline {
    background: transparent center center no-repeat;
    color: #2772DB;
    border: 1px solid #2772DB;
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #2772DB;
    color: #fff;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 1px solid #5cb85c;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
}

.btn-success.btn-outline {
    background: transparent center center no-repeat;
    color: #5cb85c;
    border: 1px solid #5cb85c;
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff;
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 1px solid #5bc0de;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}

.btn-info.btn-outline {
    background: transparent center center no-repeat;
    color: #5bc0de;
    border: 1px solid #5bc0de;
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 1px solid #f0ad4e;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-warning.btn-outline {
    background: transparent center center no-repeat;
    color: #f0ad4e;
    border: 1px solid #f0ad4e;
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 1px solid #d9534f;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
    background: transparent center center no-repeat;
    color: #d9534f;
    border: 1px solid #d9534f;
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff;
}

.btn-outline {
    background: none;
    border: 1px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    box-shadow: none;
}

.form-control {
    box-shadow: none;
    background: transparent center center no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 45px;
    font-size: 16px;
    font-weight: 300;
}

.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #2772DB;
}

body {
    background: #efefef url(../images/white_wave.png) repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body {
        background: #efefef url(../images/white_wave_@2X.png) repeat;
    }
}

.boxed #d2s-page {
    max-width: 1140px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1200px) {
    .boxed #d2s-page {

        max-width: 960px;
    }
}

.boxed #d2s-page .container {

    max-width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .boxed #d2s-page .container {
        max-width: 780px;
    }
}

#d2s-header {
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 50px;
    z-index: 12;
}

@media screen and (max-width: 768px) {
    #d2s-header {
        padding-top: 30px;
    }
}

#d2s-header #d2s-logo {
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: -12px;
    z-index: 1;
}

#d2s-header #d2s-logo a {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

#d2s-header #d2s-logo a span {
    color: #2772DB;
}

#d2s-header nav {
    position: relative;
}

#d2s-header nav ul {
    padding: 0;
    margin: 0;
    z-index: 2;
    position: relative;
}

#d2s-header nav ul li a {
    font-family: 'Montserrat', sans-serif;;
}

@media screen and (max-width: 768px) {
    #d2s-header nav ul {
        display: none;
    }
}

#d2s-header nav ul li {
    display: inline;
}

#d2s-header nav ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

#d2s-header nav ul li a:hover {
    color: white;
}

#d2s-header nav ul li.d2s-cta-btn a {
    position: relative;
    padding: 7px 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

#d2s-header nav ul li.d2s-cta-btn a:hover {
    border: 1px solid white;
}

#d2s-header nav ul li.active a {
    color: white;
}

#d2s-header nav ul.left-menu li {
    margin-right: 30px;
}

#d2s-header nav ul.right-menu li {
    margin-left: 30px;
}

#d2s-hero {
    background: transparent center center no-repeat no-repeat fixed;
    background-size: cover;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 480px) {
    #d2s-hero {
        padding-top: 70px;
        min-height: 650px;
    }
}

#d2s-hero .d2s-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2a2d36;
    opacity: .74;
    z-index: 9;
}

#d2s-hero .d2s-overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #2772DB;
    opacity: .74;
    z-index: 10;
}

#playvideo {
    background: #fff;
    padding: 100px 0 100px 0;
}

#d2s-hero .d2s-intro {
    display: table;
    width: 100%;
    z-index: 10;
    position: relative;
}

@media screen and (max-width: 480px) {
    #d2s-hero .d2s-intro {
        height: 550px;
    }
}

#d2s-hero .d2s-intro > div {
    vertical-align: middle;
    display: table-cell;
}

#d2s-hero .d2s-intro > div .d2s-left-position {
    width: 65%;
    float: left;
}

@media screen and (max-width: 992px) {
    #d2s-hero .d2s-intro > div .d2s-left-position {
        width: 100%;
    }
}

#d2s-hero .d2s-intro > div .d2s-center-position {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    #d2s-hero .d2s-intro > div .d2s-center-position {
        width: 100%;
        text-align: center;
    }
}

#d2s-hero .d2s-intro > div .d2s-right-position {
    width: 65%;
    float: right;
    text-align: right;
}

@media screen and (max-width: 992px) {
    #d2s-hero .d2s-intro > div .d2s-right-position {
        width: 100%;
        text-align: left;
    }
}

#d2s-hero .d2s-intro > div h2 {
    font-size: 70px;
    line-height: 70px;
    font-weight: 300;
    color: white;
}

@media screen and (max-width: 992px) {
    #d2s-hero .d2s-intro > div h2 {
        font-size: 40px;
        line-height: 57px;
        text-align: center;
    }
}

#d2s-hero .d2s-intro > div h3 {
    font-weight: 100;
    font-size: 30px;
    line-height: 45px;
    color: white;
}

@media screen and (max-width: 992px) {
    #d2s-hero .d2s-intro > div h3 {
        font-size: 24px;
        line-height: 37px;
        text-align: center;
    }
}

#d2s-hero .d2s-intro > div .btn-outline, #d2s-hero .d2s-intro > div .btn-primary {
    padding: 10px 30px !important;
    min-width: 150px;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    #d2s-hero .d2s-intro > div .btn-outline, #d2s-hero .d2s-intro > div .btn-primary {
        padding: 10px 30px !important;
        width: 100%;
    }
}

#d2s-hero .d2s-intro > div .btn-outline {
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

#d2s-hero .d2s-intro > div .btn-outline:hover {
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}

#d2s-info .d2s-watch-now {
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 12;
    text-align: center;
}

#d2s-info .d2s-watch-now a {
    display: block;
}

#d2s-info .d2s-watch-now a .text {
    display: block;
    color: rgba(255, 255, 255, 0.5);

}

#d2s-info .d2s-watch-now a .play {
    display: block;
    background: #2772DB;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#d2s-info .d2s-watch-now a .play i {
    top: 13px;
    position: relative;
    color: #fff;
    vertical-align: middle;
}

#d2s-hero .d2s-learn-more {
    position: absolute;
    bottom: -25px;
    left: 50%;
    z-index: 12;
    text-align: center;
}

#d2s-hero .d2s-learn-more a {
    display: block;
}

#d2s-hero .d2s-learn-more a .text {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

#d2s-hero .d2s-learn-more a .arrow {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: #2772DB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#d2s-hero .d2s-learn-more a .arrow i {
    top: 10px;
    position: relative;
    color: #fff;
    vertical-align: middle;
}

.no-js-fullheight {
    height: 620px;
}

@media screen and (max-width: 768px) {
    .no-js-fullheight {
        height: inherit;
        padding: 3em 0;
    }
}

.no-js-half-height {
    height: 480px;
}

@media screen and (max-width: 768px) {
    .no-js-half-height {
        height: inherit;
        padding: 3em 0;
    }
}

.d2s-lead {
    font-size: 50px;
    font-weight: 300;
    color: #484c50;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .d2s-lead {
        font-size: 35px;
    }
}

.d2s-sub-lead {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

#d2s-features,
#d2s-features-2,
#d2s-features-3,
#d2s-features-4,
#d2s-projects,
#d2s-testimonials,
#d2s-about,
#d2s-subscribe,
#d2s-info,
#d2s-pricing,
#d2s-faqs,
#d2s-footer {
    background-color: #fff;
    padding: 7em 0;
}

@media screen and (max-width: 768px) {
    #d2s-features,
    #d2s-features-2,
    #d2s-features-3,
    #d2s-features-4,
    #d2s-projects,
    #d2s-testimonials,
    #d2s-about,
    #d2s-subscribe,
    #d2s-info,
    #d2s-pricing,
    #d2s-faqs,
    #d2s-footer {
        padding: 3em 0;
    }
}

#d2s-projects {
    background: #f9f9f9;
}

#d2s-projects .d2s-lead {
    font-size: 50px;
    font-weight: 300;
    color: #484c50;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #d2s-projects .d2s-lead {
        font-size: 35px;
    }
}

#d2s-projects .d2s-sub-lead {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

#d2s-projects .d2s-project-item {
    display: block;
    width: 100%;
    position: relative;
    background: #fff;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#d2s-projects .d2s-project-item img {
    z-index: 8;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#d2s-projects .d2s-project-item .d2s-text {
    padding: 30px 10px 10px 20px;
    text-align: center;
}

#d2s-projects .d2s-project-item .d2s-text h2, #d2s-projects .d2s-project-item .d2s-text span {
    text-decoration: none !important;
}

#d2s-projects .d2s-project-item .d2s-text h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #484c50;
}

#d2s-projects .d2s-project-item .d2s-text span {
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 400;
}

#d2s-projects .d2s-project-item .d2s-text p {
    color: #85919d;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#d2s-projects .d2s-project-item:hover, #d2s-projects .d2s-project-item:focus {
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#d2s-projects .d2s-project-item:hover img, #d2s-projects .d2s-project-item:focus img {
    opacity: .7;
}

#d2s-projects .d2s-project-item:hover h2, #d2s-projects .d2s-project-item:hover span, #d2s-projects .d2s-project-item:focus h2, #d2s-projects .d2s-project-item:focus span {
    text-decoration: none !important;
}

#d2s-projects .d2s-project-item:hover p, #d2s-projects .d2s-project-item:focus p {
    color: #484c50;
}

#d2s-features .d2s-devices {
    margin-bottom: 40px;
}

#d2s-features .d2s-devices img {
    margin: 0 auto;
}

#d2s-features .d2s-lead {
    font-size: 50px;
    font-weight: 300;
    color: #484c50;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #d2s-features .d2s-lead {
        font-size: 35px;
    }
}

#d2s-features .d2s-sub-lead {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

#d2s-features .d2s-feature {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #d2s-features .d2s-feature {
        padding-left: 0;
        padding-right: 0;
    }
}

#d2s-features .d2s-feature .d2s-icon {
    width: 112px;
    height: 112px;
    display: table;
    margin: 0 auto 30px auto;
    background: #2772DB;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#d2s-features .d2s-feature .d2s-icon i {
    position: relative;
    top: -1px;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
    color: #fff;
}

#d2s-features .d2s-feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#d2s-features-2, #d2s-features-3, #d2s-features-4 {
    background: #f9f9f9;
    overflow: hidden;
}

#d2s-features-2 .d2s-label, #d2s-features-3 .d2s-label, #d2s-features-4 .d2s-label {
    display: block;
}

#d2s-features-2 .d2s-lead, #d2s-features-3 .d2s-lead, #d2s-features-4 .d2s-lead {
    font-size: 50px;
    font-weight: 300;
    color: #484c50;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    #d2s-features-2 .d2s-lead, #d2s-features-3 .d2s-lead, #d2s-features-4 .d2s-lead {
        font-size: 35px;
    }
}

#d2s-features-2 .d2s-feature, #d2s-features-3 .d2s-feature, #d2s-features-4 .d2s-feature {
    clear: both;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

#d2s-features-2 .d2s-feature .d2s-icon, #d2s-features-3 .d2s-feature .d2s-icon, #d2s-features-4 .d2s-feature .d2s-icon {
    float: left;
    width: 10%;
}

#d2s-features-2 .d2s-feature .d2s-icon i, #d2s-features-3 .d2s-feature .d2s-icon i, #d2s-features-4 .d2s-feature .d2s-icon i {
    font-size: 40px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #d2s-features-2 .d2s-feature .d2s-icon i, #d2s-features-3 .d2s-feature .d2s-icon i, #d2s-features-4 .d2s-feature .d2s-icon i {
        font-size: 30px;
    }
}

#d2s-features-2 .d2s-feature .d2s-text, #d2s-features-3 .d2s-feature .d2s-text, #d2s-features-4 .d2s-feature .d2s-text {
    float: right;
    width: 85%;
}

#d2s-features-2 .d2s-feature h3, #d2s-features-3 .d2s-feature h3, #d2s-features-4 .d2s-feature h3 {
    font-size: 24px;
    color: #484c50;
    margin-bottom: 10px;
    font-weight: 300;
}

#d2s-features-2 .d2s-btn-action, #d2s-features-3 .d2s-btn-action, #d2s-features-4 .d2s-btn-action {
    width: 100%;
    float: left;
}

#d2s-features-2 .d2s-btn-action > a, #d2s-features-3 .d2s-btn-action > a, #d2s-features-4 .d2s-btn-action > a {
    margin-left: 15%;
}

@media screen and (max-width: 480px) {
    #d2s-features-2 .d2s-btn-action > a, #d2s-features-3 .d2s-btn-action > a, #d2s-features-4 .d2s-btn-action > a {
        margin-left: 0;
    }
}

@media screen and (max-width: 992px) {
    #d2s-features-2 .d2s-feature-image img, #d2s-features-3 .d2s-feature-image img, #d2s-features-4 .d2s-feature-image img {
        max-width: 100%;
    }
}

#d2s-features-3 {
    background: #fff;
}

#d2s-testimonials.boredr-top {
    border-top: 1px solid #f0f2f3;
}

#d2s-testimonials .d2s-lead {
    font-size: 50px;
    font-weight: 300;
    color: #484c50;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #d2s-testimonials .d2s-lead {
        font-size: 35px;
    }
}

#d2s-testimonials .flexslider {
    background: transparent center center no-repeat;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

#d2s-testimonials .slides {
    z-index: 99;
}

#d2s-testimonials .slides li blockquote {
    border-left: none;
    padding-left: 0;
    font-size: 26px;
    line-height: 46px;
    margin-bottom: 0;
}

#d2s-testimonials .slides li p cite {
    font-size: 16px;
}

#d2s-testimonials .flexslider-controls {
    margin-left: -15px;
    z-index: 100;
    position: relative;
}

#d2s-testimonials .flexslider-controls .flex-control-nav {
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    #d2s-testimonials .flexslider-controls .flex-control-nav {
        padding-bottom: 30px;
    }
}

#d2s-testimonials .flexslider-controls .flex-control-nav li {
    cursor: pointer;
}

#d2s-testimonials .flexslider-controls .flex-control-nav li img {
    cursor: pointer;
    width: 50px;
    opacity: .3;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#d2s-testimonials .flexslider-controls .flex-control-nav li.flex-active img {
    opacity: 1;
}

#d2s-testimonials .flexslider-controls .flex-control-nav li:hover img {
    opacity: 1;
}

#d2s-about .d2s-social a {
    font-size: 35px !important;
    color: #b3b3b3 !important;
}

#d2s-about .d2s-social a:hover {
    color: #333333 !important;
}

#d2s-about .d2s-lead {
    font-size: 50px;
    font-weight: 300;
    color: #484c50;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    #d2s-about .d2s-lead {
        font-size: 35px;
    }
}

#d2s-about .d2s-sub-lead {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}

#d2s-about .flexslider {
    background: transparent center center no-repeat;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

#d2s-subscribe {
    background: #f9f9f9;
    padding: 3em 0;
}

#d2s-subscribe h3 {
    float: left;
    width: 30%;
    top: 0;
    font-size: 20px;
    margin-bottom: 0;
    position: relative;
}

#d2s-subscribe h3 label {
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    #d2s-subscribe h3 {
        width: 100%;
        margin-bottom: 30px;
    }
}

#d2s-subscribe form {
    width: 60%;
    float: right;
    position: relative;
}

@media screen and (max-width: 992px) {
    #d2s-subscribe form {
        width: 100%;
    }
}

#d2s-subscribe form .d2s-icon {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 15px;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    #d2s-subscribe form .d2s-icon {
        position: absolute;
        top: 26px;
    }
}

#d2s-subscribe form input[type="email"] {
    width: 100%;
    background: #ededed;
    border: none;
    padding-left: 50px;
    padding-right: 170px;
}

.search_input {
    width: 100%;
    background: #ededed;
    border: none;
    padding-left: 10px;
    padding-right: 170px;
}

@media screen and (max-width: 480px) {
    #d2s-subscribe form input[type="email"] {
        margin-bottom: 10px;
        padding-right: 50px;
    }

    .search_input {
        margin-bottom: 10px;
        padding-right: 50px;
    }
}

#d2s-subscribe form input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -4px;
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    font-weight: 300;
    width: 150px;
}

.search_submit {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -4px;
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 18px;
    font-weight: 300;
    width: 80px;
}

@media screen and (max-width: 480px) {
    #d2s-subscribe form input[type="submit"] {
        position: relative;
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .search_submit {
        position: relative;
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

#d2s-info {
    background: #2772DB;
}

#d2s-info .d2s-label {
    color: rgba(255, 255, 255, 0.5);
}

#d2s-info .d2s-lead {
    color: white;
    margin-bottom: 10px;
}

#d2s-info p {
    color: white;
}

#d2s-pricing {
    background: #f9f9f9;
}

#d2s-pricing .price-box {
    background: #fff;
    border: 1px solid #ECEEF0;
    text-align: center;
    padding: 30px;
    margin-bottom: 40px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#d2s-pricing .price-box.popular {
    border: 1px solid #2772DB;
}

#d2s-pricing .price-box.popular .popular-text {
    top: 0;
    left: 50%;
    margin-left: -54px;
    margin-top: -2em;
    position: absolute;
    padding: 4px 20px;
    background: #2772DB;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#d2s-pricing .price-box.popular .popular-text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-top: 10px solid #2772DB;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

#d2s-pricing .pricing-plan {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

#d2s-pricing .price {
    font-size: 50px;
    color: #000;
}

#d2s-pricing .price .currency {
    font-size: 20px;
    top: -1.2em;
}

#d2s-pricing .price small {
    font-size: 16px;
}

#d2s-pricing .pricing-info {
    padding: 0;
    margin: 0 0 30px 0;
}

#d2s-pricing .pricing-info li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#d2s-faqs .d2s-faq-list {
    margin: 0;
    padding: 0;
}

#d2s-faqs .d2s-faq-list li {
    margin: 0 0 40px 0;
    padding: 0;
    line-height: 24px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    #d2s-faqs .d2s-faq-list li {
        margin: 0 0 20px 0;
    }
}

#d2s-faqs .d2s-faq-list li h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    #d2s-faqs .d2s-faq-list li h2 {
        font-size: 26px;
    }
}

#d2s-footer {
    padding-bottom: 0;
}

#d2s-footer a {
    color: #6a7885;
}

#d2s-footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    #d2s-footer .d2s-footer-widget {
        margin-bottom: 30px;
        float: left;
        width: 100%;
    }
}

#d2s-footer .d2s-footer-widget h3 {
    font-size: 18px;
    font-weight: 400;
}

#d2s-footer .d2s-footer-widget .d2s-links {
    padding: 0;
    margin: 0;
}

#d2s-footer .d2s-footer-widget .d2s-links li {
    padding: 0;
    list-style: none;
    margin: 0 0 15px;
    line-height: 24px;
}

#d2s-footer .d2s-footer-widget .d2s-links li a {
    color: #6a7885;
}

#d2s-footer .d2s-footer-widget .d2s-links li a:hover {
    text-decoration: underline;
}

#d2s-footer .d2s-copyright {
    border-top: 1px solid #f0f2f3;
    padding: 40px 0;
}

#d2s-footer .d2s-copyright a {
    font-weight: 700;
}

#d2s-footer .d2s-copyright p {
    margin-bottom: 0;
}

#d2s-footer .d2s-copyright p small {
    font-size: 15px;
}

#d2s-footer .d2s-copyright .d2s-left {
    float: left;
}

#d2s-footer .d2s-copyright .d2s-right {
    float: right;
}

@media screen and (max-width: 768px) {
    #d2s-footer .d2s-copyright .d2s-right {
        float: left;
    }
}

.d2s-social {
    padding: 0;
    margin: 0;
}

.d2s-social li {
    padding: 0;
    margin: 0;
    display: inline;
}

.d2s-social li a {
    padding: 4px 7px;
    font-size: 22px;
}

.d2s-social li a:hover {
    text-decoration: none !important;
    color: #2772DB !important;
}

.d2s-blog {
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .d2s-blog {
        margin-bottom: 30px;
        float: left;
        width: 100%;
    }
}

.d2s-blog figure {
    margin: 0 auto 30px auto;
}

.d2s-blog figure img {
    margin: 0 auto;
    display: block;
}

.d2s-blog .d2s-name {
    margin-bottom: 0;
    color: #484c50;
}

.d2s-blog .d2s-designation {
    color: #85919d;
}

.d2s-blog .d2s-bio {
    text-align: center;
}

#d2s-offcanvas, .d2s-nav-toggle, #d2s-page {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#d2s-offcanvas, .d2s-nav-toggle, #d2s-page {
    position: relative;
}

#d2s-page {
    z-index: 2;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas-visible #d2s-page {
    -moz-transform: translateX(-275px);
    -webkit-transform: translateX(-275px);
    -ms-transform: translateX(-275px);
    -o-transform: translateX(-275px);
    transform: translateX(-275px);
}

#d2s-offcanvas {
    display: none;
    height: 100%;
    right: 0;
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 275px;
    background: black;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    #d2s-offcanvas {
        display: block;
    }
}

#d2s-offcanvas ul {
    padding: 0;
    margin: 0;
}

#d2s-offcanvas ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    line-height: 28px;
}

#d2s-offcanvas ul li a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

#d2s-offcanvas ul li.active a {
    color: #2772DB;
}

.d2s-nav-toggle {
    cursor: pointer;
    text-decoration: none;
}

.d2s-nav-toggle.active i::before, .d2s-nav-toggle.active i::after {
    background: #fff;
}

.d2s-nav-toggle.dark.active i::before, .d2s-nav-toggle.dark.active i::after {
    background: #fff;
}

.d2s-nav-toggle:hover, .d2s-nav-toggle:focus, .d2s-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.d2s-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    transition: all .2s ease-out;
}

.d2s-nav-toggle i::before, .d2s-nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.d2s-nav-toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    transition: all .2s ease-out;
}

.d2s-nav-toggle.dark i::before, .d2s-nav-toggle.dark i::after {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.d2s-nav-toggle i::before {
    top: -7px;
}

.d2s-nav-toggle i::after {
    bottom: -7px;
}

.d2s-nav-toggle:hover i::before {
    top: -10px;
}

.d2s-nav-toggle:hover i::after {
    bottom: -10px;
}

.d2s-nav-toggle.active i {
    background: transparent center center no-repeat;
}

.d2s-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.d2s-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.d2s-nav-toggle {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;
    margin: 0 auto;
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .d2s-nav-toggle {
        display: block;
        top: 20px;
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.btn-cta {
    padding: 20px 30px !important;
    width: 200px;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .btn-cta {
        padding: 10px 30px !important;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 2em;
    }
}

.row-top-padded-lg {
    padding-top: 7em;
}

@media screen and (max-width: 768px) {
    .row-top-padded-lg {
        padding-top: 2em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 2em;
    }
}

.row-top-padded-md {
    padding-top: 4em;
}

@media screen and (max-width: 768px) {
    .row-top-padded-md {
        padding-top: 2em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 2em;
    }
}

.row-top-padded-sm {
    padding-top: 2em;
}

@media screen and (max-width: 768px) {
    .row-top-padded-sm {
        padding-top: 2em;
    }
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
    border: 10px solid red;
}

.d2s-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}

.teams {
    border-bottom: 1px solid #cdcdcd;
    padding: 20px;
}

.teams-wrapper :last-child {
    border-bottom: 0 !important;
}

.teams h4, .teams p {
    margin: 0;
    line-height: normal;
}

.teams h4 {
    font-weight: 700;
}

.teams p {
    font-weight: 400;
}

.teams .team-actions {
    padding-top: 5px;
}

.teams .team-actions i {
    font-size: 35px;
}

.teams .team-actions p {
    font-size: 16px;
}

.img-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.mem-image {
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
}

.pagination-holder {

}

.pagination-holder ul {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    display: block;
    text-align: center;
}

.pagination-holder ul li {
    margin-left: 10px;
    display: inline;

}

.req{
    display:inline;
    float:none;
    color:red !important;
    margin:0;
    padding:0;
}

/*# sourceMappingURL=style.css.map */
